<div class="container">
    <div class="heading-grid">
        <div id="line-1"><div class="line"></div></div>
        <div id="head-logo"></div>
        <div id="header-text">About</div>
        <div id="line-2"><div class="line"></div></div>
    </div>

    <img src="../../assets/TextBubbleQoute.svg" alt="Stuff" id="pic">
    <div class="centered">
            <p>
            I'm a 23 year old final year student who believes no problem can't be
            solved. With every challenge I face I keep moving forward.
        </p>
    </div>
</div>
<div class="download-btn">
    <a href="../../assets/cv/Tshweu_Sephiri_CV.pdf" download="Tshweu_Sephiri_CV.pdf" target="_blank" rel="noopener noreferrer">Download CV</a>
</div>
