<div class="heading-grid">
    <div id="line-1"><div class="line"></div></div>
    <div id="head-logo"></div>
    <div id="header-text">Skills</div>
    <div id="line-2"><div class="line"></div></div>
</div>
<div class="container">
<div class="grid-block">
        <div class="grid">
            <div class="grid-item">
                <img src="../assets/cards/design-icon.svg" alt="design-icon" height="100">
                <h1>Design</h1>
                <p>From simple and clean to a more unique and distinguished design
                    I provide both</p>
                <h3>Design solutions I provide:</h3>
                <div class="buttons">
                    <div class="b1">UI</div>
                    <div class="b2">UX</div>
                    <div class="b1">Web</div>
                    <div class="b2">Apps</div>
                </div>
                <h3 id="design-tools">Design tools:</h3>
                <h3>Adobe XD</h3>
                <h3>Adobe Photoshop</h3>
                <h3>Adobe Illustrator</h3>
            </div>
            <div class="grid-item">
                <img src="../assets/cards/front-end-icon.svg" alt="front-end-icon" height="100">
                <h1>Front-end</h1>
                <p>Whether it be android or web development I’ve got you covered</p>
                <h3>Front-end solutions I provide:</h3>
                <div class="buttons">
                    <div class="b1">HTML</div>
                    <div class="b2">CSS</div>
                    <div class="b1">XML</div>
                    <div class="b2">Java</div>
                    <div class="b1">Angular 9</div>
                </div>
                <h3 id="design-tools">Development tools:</h3>
                <h3>Visual Studio Code</h3>
                <h3>Android Studio</h3>
                <h3>Github</h3>
                <h3>Bootstrap</h3>
            </div>
            <div class="grid-item">
                <img src="../assets/cards/back-end-icon.svg" alt="back-end-icon" height="100">
                <h1>Back-end</h1>
                <p>From database design to the API
                    I’ve got you covered.</p>
                <h3>Back-end solutions I provide:</h3>
                <div class="buttons">
                    <div class="b1">MySQL</div>
                    <div class="b2">MongoDB</div>
                    <div class="b1">NodeJS</div>
                </div>
                <h3 id="design-tools">Development tools:</h3>
                <h3>Postman</h3>
                <h3>Visual Studio Code</h3>
                <h3>MySQL Workbench</h3>
                <h3>Robo 3T</h3>

            </div>
        </div>
    </div>
</div>
    <!-- <div class="heading-skills-levels"> <hr> </div> -->
    <!-- <div class="constraints"> -->
        <!-- <img src="../assets/title-skills.svg" alt="Skills title" id="skills-title" align="right">

        <img src="../assets/Technical-skills-cards.svg" alt="Technical skills cards" id="skills-cards">   -->
    <!-- </div> -->
    <div class="heading-grid">
        <div id="line-1"><div class="line"></div></div>
        <div id="head-logo"></div>
        <div id="header-text">Levels</div>
        <div id="line-2"><div class="line"></div></div>
    </div>
    <div class="skills-levels">
            <div class="card">
                <img class="card-img" src="../assets/skill-bg.svg" alt="skill-bg">
                <div class="card-text">
                    <div style="color: lightgray;">HTML</div>
                    <div class="prog"><div class="skill-1">60%</div></div>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="../assets/skill-bg.svg" alt="skill-bg">
                <div style="color: lightgray;" class="card-text">
                    <div>XML</div>
                    <div class="prog"><div class="skill-2">50%</div></div>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="../assets/skill-bg.svg" alt="skill-bg">
                <div style="color: lightgray;" class="card-text">
                    <div>CSS</div>
                    <div class="prog"><div class="skill-3">70%</div></div>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="../assets/skill-bg.svg" alt="skill-bg">
                <div class="card-text">
                    <div>Java</div>
                    <div class="prog"><div class="skill-4">60%</div></div>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="../assets/skill-bg.svg" alt="skill-bg">
                <div class="card-text">
                    <div>Angular</div>
                    <div class="prog"><div class="skill-5">60%</div></div>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="../assets/skill-bg.svg" alt="skill-bg">
                <div class="card-text">
                    <div>Javascript</div>
                    <div class="prog"><div class="skill-6">70%</div></div>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="../assets/skill-bg.svg" alt="skill-bg">
                <div class="card-text">
                    <div>MySQL</div>
                    <div class="prog"><div class="skill-7">60%</div></div>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="../assets/skill-bg.svg" alt="skill-bg">
                <div class="card-text">
                    <div>MongoDB</div>
                    <div class="prog"><div class="skill-8">60%</div></div>
                </div>
            </div>

            <!-- <div class="skill-item">
                <div>XML</div>
                <div class="prog"><div class="skill-2">50%</div></div>
            </div>
            <div class="skill-item">
                <div>CSS</div>
                <div class="prog"><div class="skill-3">70%</div></div>
            </div>
            <div class="skill-item">
                <div>Java</div>
                <div class="prog"><div class="skill-4">60%</div></div>
            </div>
            <div class="skill-item">
                <div>Angular</div>
                <div class="prog"><div class="skill-5">50%</div></div>
            </div>
            <div class="skill-item">
                <div>Javascript</div>
                <div class="prog"><div class="skill-6">70%</div></div>
            </div>
            <div class="skill-item">
                <div>MySQL</div>
                <div class="prog"><div class="skill-7">60%</div></div>
            </div>
            <div class="skill-item">
                <div>MongoDB</div>
                <div class="prog"><div class="skill-8">50%</div></div>
            </div> -->
        </div>
        <div class="t-btn">
            <a routerLink="/twitter">View Angular Twitter Feed</a>
        </div>



