<div class="heading-grid">
    <div id="line-1"><div class="line"></div></div>
    <div id="head-logo"></div>
    <div id="header-text">Portfolio</div>
    <div id="line-2"><div class="line"></div></div>
</div>  
<div class="container">
    <div class="card">
        <img class="card-img" src="//unsplash.it/400/400" alt="">
        <div class="card-text">
            <h3 class="card-title">Card Title</h3>
            <p class="card-desc">Describe the project</p>
        </div>
    </div>

    <div class="card">
        <img class="card-img" src="//unsplash.it/398/402" alt="">
        <div class="card-text">
            <h3 class="card-title">Card Title</h3>
            <p class="card-desc">Describe the project</p>
        </div>
    </div>

    <div class="card">
        <img class="card-img" src="//unsplash.it/399/401" alt="">
        <div class="card-text">
            <h3 class="card-title">Card Title</h3>
            <p class="card-desc">Describe the project</p>
        </div>
    </div>
</div> 
